@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap");

* {
}

body {
  font-family: "Encode Sans", sans-serif;
  background-color: #111111;
  color: white;
}
